# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


pattern-questions
number-problems
selection-sort
bubble-sort
insertion-sort
subArray-subSequence
sum-of-all-sub-arrays
vectors
pair
quicksort
mergesort
countsort
dnf-sort
wave-sort
count-inversion
reduce-an-array
prob1
prob2
prob3
prob4
prob5
prob6
prob7
prob8
prob9
prob10
prob11
prob12
prob13
prob14
prob15
prob16
prob17
prob18
prob19
prob20
prob21
prob22
prob23
prob24
prob25
prob26
prob27
prob28
prob29
prob30
prob31
prob32
prob33
prob34
prob35
prob36
prob37
prob38
prob39
prob40
linkedList
doublyLinkedList
master_theorm
stackUsingArray
reverseSentence
reverseAStack
evaluatePrefix
evaluatePostfix
infixToPostfix
infixToPrefix
balacedParenthesis
queueUsingArray
queueUsingLinkedList
queueUsingStack
stackUsingQueue
slidingWindowMax
largestRectangle
rainWaterHarvestingProblem
redundantParentheses
stockSpanProblem
threeSumProblem
maxConsecutiveOnes
longestSubstringWithoutRepeatingChar
binaryTree
treeFromPreAndInorder
treeFromPostAndInorder
levelOrderTraversel
countAllTheNodesInBT
sumAllTheNodesInBT
heightOfBT
diameterOfBT
sumReplacementInBT
heightOfBalancedBT
rightViewInBT
leftViewInBT
minDistanceBtwTwoNodes
flattenBTIntoPreorderLinkedList
allNodesAtDisK