# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


pattern-questions
number-problems
selection-sort
bubble-sort
insertion-sort
subArray-subSequence
sum-of-all-sub-arrays
prob1
prob2
prob3
prob4
prob5
prob6
prob7
prob8
prob9
prob10
prob11
prob12
prob13
prob14
prob15
prob16
prob17
prob18
prob19
prob20
prob21
prob22
prob23